


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #b6afaf;

}

header {
    display: flex;
    justify-content: space-between; /* Align logo and nav to opposite sides */
    align-items: center; 
    padding: 20px 40px;
    background-color: #f8f9fa; 
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: bold;
    
    
    
}
.logo h1 {
    margin: 0;
    font-weight: bold;
    color: #a29f9f;
}


.logo h2 {
    margin: 0;
    font-weight: bold;
    color: a29f9f;
}


.navbar ul li {

    display:inline
}



nav {
    text-align: right;
    margin: 20px 0;
    list-style-type: none;
    
}




.navbar ul li a {
text-decoration: none;
font-size: 16px;
color: #a29f9f;
font-weight: bold;
transition: color 0.3s ease;
}

.navbar ul li a:hover {
color: #007BFF; /* Hover color for nav links */
}


section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact-section {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    color: #333;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.contact-form textarea,
.contact-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea::placeholder,
.contact-form input::placeholder {
    color: #aaa;
}

.contact-form .btn {
    padding: 10px 20px;
    background-color: #edc4ed;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.contact-form .btn:hover {
    background-color: #f7dff1;
}

.email-note {
    font-size: 16px;
    color: #666;
}

.email-note a {
    color: #bd93bd;
    text-decoration: none;
}

.email-note a:hover {
    text-decoration: underline;
}
