

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



body {
    
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #f7f6f6;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 40px;
    background-color: #499ef3; 
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    
}


.logo h1 {
    margin: 0;
    font-weight: bold;
    color: #a29f9f;
}

.navbar ul li {

    display:inline
}



nav {
    text-align: right;
    margin: 20px 0;
    list-style-type: none;
    
}



.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #a29f9f;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #007BFF; 
}

/* Content Section */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.project a {
    color: #007BFF;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.project a:hover {
    text-decoration: underline;
}


main {
    margin: 20px 40px;
}
<style>