
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
    
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #b6afaf;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between; 
    padding: 20px 40px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}

.logo h1 {
    margin: 0;
    font-weight: bold;
    color: #a29f9f;
}

.navbar ul li {

    display:inline;

}



nav {
    text-align: right;
    margin: 20px 0;
    list-style-type: none;
    
}
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 70px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #d6d2d2;
    border-radius: 5px;
}

button {
    background-color: #e988ba;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f5bae8;
}
